<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sourcey.relocator">

    <uses-permission android:name="android.permission.INTERNET" /> <!-- This permission is for Internet connection established. -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="Group 10 Mobile Computing project"
        android:theme="@style/AppTheme">
        <activity android:name=".Bookmark2"></activity>
        <activity android:name=".place2details" />
        <activity android:name=".RecommendationActivity" />
        <activity
            android:name=".FeedbackActivity"
            android:theme="@android:style/Theme.Holo.Dialog" />
        <activity android:name=".place_details" />
        <activity android:name=".LocationActivity" />
        <activity android:name=".VacationActivity" />
        <activity android:name=".RelocationActivity" />
        <activity android:name=".Bookmark" />
        <activity android:name=".Homepage" />
        <activity
            android:name=".MainActivity"
            android:label="MoversApp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:theme="@style/AppTheme.Dark" />
        <activity
            android:name=".SignupActivity"
            android:theme="@style/AppTheme.Dark" />
    </application>

</manifest>